:root {
  font-family: 'poppins', sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  scroll-behavior: smooth;
}

a {
  font-size: 1.3rem;
}

div {
  font-size: 1.3rem;
}

section {
  margin-bottom: 10rem;
}
